.brown_color {
    color: #795548 !important;
}

.brown_bg {
    background: #795548 !important;
}

.blue1_color {
    color: #2196f3 !important;
}

.blue1_bg {
    background: #2196f3 !important;
}

.orange_color {
    color: #ff5722 !important;
}

.orange_bg {
    background: #ff5722 !important;
}

.purple_color {
    color: #673ab7 !important;
}

.purple_bg {
    background: #673ab7 !important;
}

.purple_color2 {
    color: #3f51b5 !important;
}

.purple_bg2 {
    background: #3f51b5 !important;
}

.blue2_color {
    color: #03a9f4 !important;
}

.blue2_bg {
    background: #03a9f4 !important;
}

.red_color {
    color: #e91e63 !important;
}

.red_bg {
    background: #e91e63 !important;
}

.yellow_color {
    color: #ff9800 !important;
}

.yellow_bg {
    background: #ff9800 !important;
}

.purple_color2 {
    color: #9c27b0 !important;
}

.purple_bg2 {
    background: #9c27b0 !important;
}

.orange_color2 {
    color: #f44336 !important;
}

.orange_bg2 {
    background: #f44336 !important;
}

.green_color {
    color: #009688 !important;
}

.green_bg {
    background: #009688 !important;
}